* { box-sizing: border-box; }

/* Header */

#header-nav {
  background-color: #DDD;
  border-radius: 0;
  border: 0;

}

@media (max-width:767px) {

#navbar-collapse-1 {
  background: lightgreen;
  padding: 0;
  border: 0;
  }

ul.navbar-nav {
  margin: 0;
  width: 100%;
}

ul.navbar-nav < li {
	border: 0.5px solid black;
	font-size: 1.2em;
}

}
/* End of Header */

/* Body */

.main-div {
  background-color: #DDD;
  padding: 10px;
  align-content: center;
}

#main-text {
  padding: 0;
  margin: 0;
}

#main-text h2 {
  font-size: 1.2em;
  text-align: center;
}

/* End of Body */